Package: it.dreamcode.ft
Name: FingerTouch (Beta)
Depends: mobilesubstrate, preferenceloader
Version: 0.0.4
Architecture: iphoneos-arm
Description: Touch ID gestures
Maintainer: Michele Primavera <support@dreamcode.it>
Author: Michele Primavera <support@dreamcode.it>
Section: Tweaks
