<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Main</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibrate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>key</key>
			<string>vibenabled</string>
			<key>label</key>
			<string>On finger down</string>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>key</key>
			<string>vibenabledup</string>
			<key>label</key>
			<string>On finger up</string>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibration intensity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>key</key>
			<string>vibintensity</string>
			<key>label</key>
			<string>Intensity</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>10</real>
			<key>segmentCount</key>
			<real>9</real>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gesture wait time</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>key</key>
			<string>gesturespeed</string>
			<key>label</key>
			<string>Speed</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>5</real>
			<key>segmentCount</key>
			<real>8</real>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>default</key>
			<integer>1</integer>
			<key>key</key>
			<string>ontouch</string>
			<key>label</key>
			<string>Touch</string>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
			<key>validValues</key>
            <array>
            	<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
            </array>
            <key>validTitles</key>
            <array>
				<string>None</string>
				<string>Lock</string>
				<string>Home</string>
				<string>Switcher</string>
				<string>Flashlight</string>
				<string>Screenshot</string>
				<string>Reachability</string>
				<string>Switch to last app</string>
				<string>Siri</string>
				<string>Rotation lock</string>
				<string>Control Center</string>
				<string>Lock (Not on lockscreen)</string>
				<string>Notification Center</string>
            </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>onhold</string>
			<key>label</key>
			<string>Hold</string>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
			<key>validValues</key>
            <array>
            	<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
            </array>
            <key>validTitles</key>
            <array>
				<string>None</string>
				<string>Lock</string>
				<string>Home</string>
				<string>Switcher</string>
				<string>Flashlight</string>
				<string>Screenshot</string>
				<string>Reachability</string>
				<string>Switch to last app</string>
				<string>Siri</string>
				<string>Rotation lock</string>
				<string>Control Center</string>
				<string>Lock (Not on lockscreen)</string>
				<string>Notification Center</string>
            </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>default</key>
			<integer>2</integer>
			<key>key</key>
			<string>ondoubletouch</string>
			<key>label</key>
			<string>Double Touch</string>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
			<key>validValues</key>
            <array>
            	<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
            </array>
            <key>validTitles</key>
            <array>
				<string>None</string>
				<string>Lock</string>
				<string>Home</string>
				<string>Switcher</string>
				<string>Flashlight</string>
				<string>Screenshot</string>
				<string>Reachability</string>
				<string>Switch to last app</string>
				<string>Siri</string>
				<string>Rotation lock</string>
				<string>Control Center</string>
				<string>Lock (Not on lockscreen)</string>
				<string>Notification Center</string>
            </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>default</key>
			<integer>3</integer>
			<key>key</key>
			<string>ontripletouch</string>
			<key>label</key>
			<string>Triple Touch</string>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
			<key>validValues</key>
            <array>
            	<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
            </array>
            <key>validTitles</key>
            <array>
				<string>None</string>
				<string>Lock</string>
				<string>Home</string>
				<string>Switcher</string>
				<string>Flashlight</string>
				<string>Screenshot</string>
				<string>Reachability</string>
				<string>Switch to last app</string>
				<string>Siri</string>
				<string>Rotation lock</string>
				<string>Control Center</string>
				<string>Lock (Not on lockscreen)</string>
				<string>Notification Center</string>
            </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>it.dreamcode.ftp</string>
			<key>default</key>
			<integer>6</integer>
			<key>key</key>
			<string>ontouchandhold</string>
			<key>label</key>
			<string>Touch and Hold</string>
			<key>PostNotification</key>
			<string>it.dreamcode.ftp.changes</string>
			<key>validValues</key>
            <array>
            	<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
            </array>
            <key>validTitles</key>
            <array>
				<string>None</string>
				<string>Lock</string>
				<string>Home</string>
				<string>Switcher</string>
				<string>Flashlight</string>
				<string>Screenshot</string>
				<string>Reachability</string>
				<string>Switch to last app</string>
				<string>Siri</string>
				<string>Rotation lock</string>
				<string>Control Center</string>
				<string>Lock (Not on lockscreen)</string>
				<string>Notification Center</string>
            </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
			<key>footerText</key>
			<string>Copyright (c) 2017 Michele Primavera</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My blog</string>
			<key>action</key>
			<string>blog</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Help keeping this tweak alive</string>
			<key>action</key>
			<string>donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>FingerTouch</string>
</dict>
</plist>
